body{
  background-image: url(./Images/PortfolioBg\ \(1\).png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
}


a{
  font-family: 'Open Sans', sans-serif;
  color: rgb(251, 251, 251);
  font-size: 20px;
  margin-top: 20px;

}
.container-fluid{
  width: auto;
  height: 100vh;
  margin: 0px 20px 0px 20px;
}

.btn{
  color: #ffffff;
  background-color: #915dff;
  margin: 10px 0px 10px 20px;
}

p {
  font-family: "open sans";
  font-size: 20px;
  color: rgb(255, 255, 255);
  margin: 0px;
  padding-left: 20px;
}

h1, h2{
  font-family: 'Prompt', sans-serif;
  font-size: 50px;
  color: #915dff;
  padding-left: 20px;
}