body{
  margin: 0px;
  background-image: url(./Images/PortfolioBg\ \(1\).png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
}

a{
  font-family: 'Open Sans', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-top: 20px;

}
/* .container-fluid{
  width: auto;
  height: 100vh;
  margin: 0px 20px 0px 20px;
} */

.btn{
  color: #ffffff;
  background-color: #915dff;
  border: none;
  padding: 10px 50px 10px 50px;
  margin: 30px 0px 30px 0px;
}

p {
  font-family: "open sans";
  font-size: 20px;
  color: rgb(255, 255, 255);
  margin: 0px;
  padding-left: 20px;
}

h1, h2{
  font-family: 'Prompt', sans-serif;
  font-size: 50px;
  color: #ffffff;
}

h1{
  padding: 30px 0px 30px 0px;
  color: #915dff;;
}

label{
  color: #ffffff;
  font-family: 'open sans';
}

.container{
  background: rgba(24, 0, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(24, 0, 255, 0.3);
}

.form-control{
  background: rgba(255, 255, 255, 0.8);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
