*{
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

body{
  background-color: rgb(0, 0, 0);
}

.resume-section{
  /* position: relative; */
  
  /* background-color: aqua; */
}

.container-fluid{
    display: grid;
    width: 100vw;
    max-width: 1000px;
    min-height: 1000px;
    grid-template-columns: 1fr 2fr;
    
}

.container-fluid .left{
  position: relative;
  background-color: #915dff;
  padding: 40px;
}

.container-fluid .right{
  position: relative;
  padding: 40px;
}

.about{
  margin-bottom: 50px;
}

.about:last-child{
  margin-bottom: 0;
}

.picText{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid white;
}

.contact{
  padding-top: 40px;
}

.title{
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 20px;
  font-family: "prompt";
}

.pic img{
  margin: 0;
  padding: 0;
}

.contact ul{
  position: relative;
}

.contact ul li{
  list-style: none;
  margin: 10px 0;
  cursor: pointer;
}

.contact ul li .icon{
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color: #ff71f3;
}

.container-fluid .right{
  background-color: #ffffff;
  padding: 40px;
}

.contact ul li span{
  color: white;
  font-family: "open sans";
  font-size: 15px;
}

.contact.education li{
  margin-bottom: 15px;
  /* text-align: center; */
}

.contact.education h5{
  color: #ff71f3;
  font-size: 16px;
  font-family: "open sans";
}

.contact.education h4:nth-child(2){
  color: white;
  font-size: 16px;
  font-family: "prompt";
}

.contact.education h4{
  color: white;
  font-size: 16px;
  font-family: "open sans";
}

.contact.languages .percent{
  position: relative;
  width: 100%;
  height: 6px;
  display: block;
  background:#50338e;
  margin-top: 5px;
}

.contact.languages .percent div{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #ff71f3;
}

a{
  font-family: 'Open Sans', sans-serif;
  color: rgb(90, 90, 90);
  font-size: 20px;
  margin-top: 20px;
}

h2{
  font-family: 'Prompt', sans-serif;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  /* text-transform: uppercase; */
} 

h2 span{
  font-size: 18px;
  font-family: "open sans";
}

.title2{
  color: #915dff;
  text-transform: uppercase;
  text-align: left;
  font-family: 'Prompt', sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
}

p{
  color: rgb(101, 101, 101);
}

.about .Exp-Container{
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}

.about .Exp-Container .year{
  min-width: 150px;
}

.about .Exp-Container .year h5{
  text-transform: uppercase;
  color: rgb(101, 101, 101);
  font-size: 15px;
  font-family: 'Prompt', sans-serif;
}

.about .Exp-Container .text h4{
  text-transform: uppercase;
  font-family: 'Prompt', sans-serif;
  color: #ff71f3;
}

.skillsBox ul li{
  list-style: none;
}

.skillsBox ul li .icon{
  color: #ff71f3;
}









/* .container-fluid{
  width: auto;
  height: 100vh;
  margin: 0px 20px 0px 20px;
}

.btn{
  color: #ffffff;
  background-color: #915dff;
  margin: 10px 0px 10px 20px;
} */
