*{
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

body{
  background-color: rgb(0, 0, 0);
}

.container-fluid{
    display: grid;
    width: 100vw;
    max-width: 1000px;
    min-height: 1000px;
    grid-template-columns: 1fr 2fr;
    
}

.container-fluid .left{
  position: relative;
  background: rgba(24, 0, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(24, 0, 255, 0.3);
  padding: 40px;
}

.container-fluid .right{
  position: relative;
  padding: 40px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.about{
  margin-bottom: 50px;
}

.about:last-child{
  margin-bottom: 0;
}

.picText{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}

.contact{
  padding-top: 40px;
}

.title{
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 20px;

  font-family: "prompt";
}

.pic img{
  margin: 0;
  padding: 0;
}

.contact ul{
  position: relative;
}

.contact ul li{
  list-style: none;
  margin: 10px 0;
  cursor: pointer;
}

.contact ul li .icon{
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color: #ff71f3;
}

.contact ul li span{
  color: white;
  font-family: "open sans";
  font-size: 15px;
}

.contact.education li{
  margin-bottom: 15px;
  /* text-align: center; */
}

.contact.education h5{
  color: #ff71f3;
  font-size: 16px;
  font-family: "open sans";
}

.contact.education h4:nth-child(2){
  color: white;
  font-size: 16px;
  font-family: "prompt";
}

.contact.education h4{
  color: white;
  font-size: 16px;
  font-family: "open sans";
}

.contact.languages .percent{
  position: relative;
  width: 100%;
  height: 6px;
  display: block;
  background:rgba(24, 0, 255, 0.2);
  margin-top: 5px;
}

.contact.languages .percent div{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #ff71f3;
}

a{
  font-family: 'Open Sans', sans-serif;
  color: rgb(90, 90, 90);
  font-size: 20px;
  margin-top: 20px;
}

h2{
  font-family: 'Prompt', sans-serif;
  font-size: 32px;
  color: #ffffff;
  text-align: center;
} 

h2 span{
  font-size: 18px;
  font-family: "open sans";
}

.title2{
  color: #915dff;
  text-transform: uppercase;
  text-align: left;
  font-family: 'Prompt', sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
}

p{
  color: rgb(101, 101, 101);
}

.about .Exp-Container{
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}

.about .Exp-Container .year{
  min-width: 150px;
}

.about .Exp-Container .year h5{
  text-transform: uppercase;
  color: rgb(101, 101, 101);
  font-size: 15px;
  font-family: 'Prompt', sans-serif;
}

.about .Exp-Container .text h4{
  text-transform: uppercase;
  font-family: 'Prompt', sans-serif;
  color: #ff71f3;
}

.skills .skillsBox{
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly;
  align-items: center;
}

.skills .skillsBox ul li{
  list-style: none;
}

.skills .skillsBox ul li .icon{
  color: #ff71f3;
}

.skills .skillsBox ul li .text{
  color: rgb(101, 101, 101);
  font-size: 20px;
  text-transform: uppercase;
}

@media (max-width: 1000px){
  .container-fluid{
    grid-template-columns: repeat(1,1fr)
  }
}

@media (max-width: 600px){
  .about .Exp-Container{
    flex-direction: column;
  }
  .about .Exp-Container .year{
    margin-bottom: 10px;
  }
  .skills .skillsBox{
    grid-template-columns: repeat(1,1fr);
  }
  .skills .skillsBox ul li{
    padding: 10px 0px 10px 0px;
  }
  .skills .skillsBox ul li:nth-child(3){
    padding-bottom: 0px;
  }
  .skills .skillsBox ul li:nth-child(1){
    padding-top: 0px;
  }
}